.App {
  text-align: center;
  font-family: "Cafe24SsurroundAir";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.create-to-do {
  display: flex;
  justify-content: center;
}
.header {
  height: 80px;
  background-color: #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.create-to-do {
  margin-top: 25px;
  margin-bottom: 50px;
}
