body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
  width: 70%;
  background-color: #b7efff;
}

table td {
  height: 40px;
  border-bottom: 1px solid white;
}

table td:first-child {
  text-align: center;
}

table td:nth-child(2) {
  text-align: left;
  width: 85%;
}

table td:nth-child(3) {
  width: 5%;
}

table td button {
  font-size: 20px;
  background-color: transparent;
  border: 0;
  outline: 0;
}
